<script type="text/html" id="RegisterViewTmpl">
<form method="post" data-bind="submit: submit, event: {reset:reset}" class="form-horizontal bindingTarget" role="form">
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    <div class="form-group">
        <label class="col-md-2 control-label">Dealer</label>       
        <div class="col-md-10">
            <input type="text" data-bind="value:dealerName, typeahead: dealerTypeaheadHelper, event:{change:dealerNameValidator}" class="form-control" autocomplete="off" autofocus/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">User Name</label>
        <div class="col-md-10">
            <input type="text" data-bind="value:userName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
            <input type="email" data-bind="value:email" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Phone</label>
        <div class="col-md-10">
            <input type="tel" data-bind="value:phoneNumber" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input type="password" data-bind="value:clearPassword" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Confirm Password</label>
        <div class="col-md-10">
            <input type="password" data-bind="value:confirmPassword" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
            <input type="reset" class="btn btn-default" value="Reset" />
        </div>
    </div>

</form>
</script>
@Scripts.Render("~/bundles/beta.register")