<div class="bindingTarget" data-bind="foreach:users">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" data-bind="text:Email"></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" data-bind="text:UName"></div>
    </div>
</div>
